.author{
   display:flex;
}

.author img{
   width:10vw;
   height:10vw;
   object-fit: cover;
}
.author h1{
   font-size:1.4rem;
   align-self: center;
   padding-left:1rem;
}

@media (min-width:600px){
   .author img{
      width:5vw;
      height:5vw;
   }
}