.main-container {
   width: 80vw;
   margin-inline: 1rem;
   background-color: var(--White);
   border:1px solid black;
   border-radius:15px;
   box-shadow: 10px 10px;
}

@media (min-width:600px){
   .main-container{
      width:40vw;
   }
}

@media (min-width:1440px){
   .main-container{
      width:25vw;
   }
}